
header[role=banner]{
  background:$white;
  border-bottom:2px solid $base-border-color;
  padding:20px;

  @include clearfix;
  @include fill-parent;

  @include media($tablet) {
    padding:20px 50px;
  }

  @include media($desktop) {
    padding:20px 100px;
  }

  @include media($wide) {
    padding:20px 0;
  }


  .logo{
    display:inline-block;
    text-align:center;

    @include media($tablet) {
      float:left;
    }

    img{
      max-width:50%;

      @include media($tablet) {
        max-width:100%;
        width:100px;
      }
    }
  }







}

